.container {
  background-color: rgb(43, 42, 42);
  width: 50em;
  height: 18em;
  margin: 8em auto;
  border-radius: 2em;
  box-shadow: -2px 2px 5px 2px #250d0d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 2em;
}

.buttons button {
  background-color: black;
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 1em;
  box-shadow: -1px 1px 2px 1px #250d0d;
  font-weight: 700;
  font-size: 1em;
}

.pwd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  width: auto;
  border: solid 1px beige;
  border-radius: 1em;
  padding: .6em;
}

.pwd input {
  background-color: transparent;
  border: none;
  font-size: 1em;
  text-align: center;
}

.icon {
  height: 2em;
  width: 2em;
}